body {
  background: lightgray;
}
.header_body{
  padding: 10px;
  margin: 5px 20px;
}
.main{
  padding: 10px;
  margin: 5px 20px;
}
.navigation {
  padding: 10px;
}
.navigation__link {
    color: black;
    display:inline-block;
    margin-right: 10px  ;
}

.navigation__link--homepage {
    background-color: rgb(177, 173, 173);
}
.footer_style{
  padding: 10px;
  margin: 5px 20px;
}