body {
  background: lightgray;
}

section {
  background: rgb(174, 179, 111);
}
h1 {
  color: green;
}
p {
  color: rgb(88, 15, 15);
}
h2 {
  color: #661d18;
}
.h3style {
  color: blueviolet;
}
.h4style {
  color: azure;
}
.h5Style {
  color: blue;
}
.sec-style {
  
  border: aquamarine;
  color: rgb(230, 142, 34);
  background-color: rgb(35, 182, 145);
}
.navigation {
  color: rgb(2, 12, 12);
  background-color: rgb(139, 241, 245);
  padding: 15px;
  border-radius: 20px;
}
.navigation__link {
    color: black;
    display: inline-block;
    margin-right: 10px  ;
}

.navigation__link--homepage {
    color: rgb(175, 116, 37);
    background: rgb(15, 15, 14);
}
#top {
  background: #d1d40f
}
